<div class="card">
    <img src="<%= pathToImg %>" alt="Avatar" style="width:100%">
    <div class="container">
        <a href="/showproduct?id=<%= id %>"><h4><b><%= title %></b></h4> </a>
        <p>Architect & Engineer</p> 
    </div>
</div>